/* =============
    Header
============= */
header {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas: "burger survival" "nav nav";

    position: fixed;
    top:0;
    //Opens up four properties top, bottom, ect
    //Collapses to only those elements

    background-color: white;
    width: 100%;

    @include lg{
        grid-template-areas:
        "nav survival";

    }


    section:nth-child(1) {
        padding: 10px;
        grid-area: burger;

        @include lg{
            display: none;
        }

        button {
            background-color: $white;
            border: none;
            outline: none;
        }
    }

    section:nth-child(2) {
        padding: 10px;
        grid-area: survival;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            span {
                display: none;

                @include lg{
                    display: inline-block;
                }
            }
        }
    }

    nav {
        display: none !important;
        //Only bv we using java
        @include lg{
            display: block !important;
            background-color: $white;
        }

        padding: 10px;
        grid-area: nav;
        background-color: $charcoal;
    }
}
